.the-header {
  height: 56px;
  background-color: var(--clr-background-dark);
  color: var(--clr-text-invert);
}

.the-header h6 {
  font-weight: 700;
}

.the-header img {
  height: 36px;
  width: 36px;
}
