.todo-list-item {
  padding: 0px 8px;
  border-width: 1px;
  border-color: var(--clr-border-primary);
  border-style: solid;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 42px;
}

.todo-list-item__title {
  height: 100%;
  max-height: 32px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  padding-left: 4px;
}

.todo-list-item__title:hover:not(
    .todo-list-item--completed .todo-list-item__title
  ) {
  cursor: text;
  background: rgba(242, 5, 5, 0.04);
}

.todo-list-item__input {
  all: unset;
  display: block;
  padding: 8px 4px;
  font-size: var(--fs-400);
  color: var(--clr-text-primary);
  flex-grow: 1;
}

.todo-list-item--completed {
  border-color: var(--clr-border-secondary);
}

.todo-list-item--completed .todo-list-item__title {
  color: var(--clr-text-secondary) !important;
  text-decoration-line: line-through;
  text-decoration-color: var(--clr-border-primary);
  cursor: default;
}

.todo-list-item--completed .todo-list-item__checkbox:checked {
  background-color: var(--clr-border-secondary);
}

.todo-list-item--completed .todo-list-item__delete-btn::before {
  background-color: var(--clr-border-secondary);
}

.todo-list-item__checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  cursor: pointer;

  height: 16px;
  width: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--clr-border-primary);
  display: grid;
  place-content: center;
}

.todo-list-item__checkbox::before {
  content: "";
  height: 8px;
  width: 8px;
  background-color: transparent;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.todo-list-item__checkbox:checked::before {
  background-color: var(--clr-text-invert);
}

.todo-list-item__checkbox:checked {
  background-color: var(--clr-primary);
  border-color: transparent;
}

.todo-list-item__delete-btn {
  height: 32px;
  width: 32px;
  border: none;
  background: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.todo-list-item__delete-btn::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: var(--clr-primary);
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
