.todo-list-item {
  padding: 0px 8px;
  border-width: 1px;
  border-color: var(--clr-border-primary);
  border-style: solid;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 42px;
}

.todo-list-item__title {
  height: 100%;
  max-height: 32px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  padding-left: 4px;
}

.todo-list-item__title:hover:not(
    .todo-list-item--completed .todo-list-item__title
  ) {
  cursor: text;
  background: rgba(242, 5, 5, 0.04);
}

.todo-list-item--completed {
  border-color: var(--clr-border-secondary);
}

.todo-list-item--completed .todo-list-item__title {
  color: var(--clr-text-secondary) !important;
  text-decoration-line: line-through;
  text-decoration-color: var(--clr-border-primary);
  cursor: default;
}

.todo-list-item__input {
  all: unset;
  display: block;
  padding: 8px 4px;
  font-size: var(--fs-400);
  color: var(--clr-text-primary);
  flex-grow: 1;
}
