.todo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-list-creation-item {
  padding: 8px;
  border-width: 1px;
  border-color: var(--clr-primary);
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;

  color: var(--clr-primary);
}

.todo-list__form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-list__input {
  all: unset;
  display: block;
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--clr-border-secondary);
  font-size: var(--fs-400);
  color: var(--clr-text-primary);
  flex-grow: 1;
}

.todo-list__input:active,
.todo-list__input:focus,
.todo-list__input:hover {
  border-color: var(--clr-border-primary);
}

.todo-list__input:focus {
  outline: 1px solid var(--clr-border-primary);
}

.todo-list__input::placeholder {
  color: var(--clr-text-secondary);
}
